body.init {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

pre {
  font-size: 8px;
  font-weight: bold;
  line-height: 1.25;
}

.code {
  color: transparent;
}

.center {
  text-align: center;
}

.large {
  font-size: 1.5em;
  vertical-align: middle;
}

.alert {
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  white-space: pre;
  text-align: center;
  position: absolute;
}

button:not(:last-of-type) {
  margin-right: 5rem;
}
