button.button-primary {
  background-color: hsl(30, 86%, 57%);
  border-color: hsl(30, 86%, 57%);
}

button.button-primary:hover,
button.button-primary:focus {
  background-color: hsl(30, 76%, 49%);
  border-color: hsl(30, 76%, 49%);
}
